.postcontent{
    background: #fff;
    padding: 14px;
}

.inputitem{
    margin-bottom: 8px;
}

.table{
  margin-top: 8px;
}

.searchbox{
    margin-bottom: 16px
}

.pagination{
    margin-top: 8px
}
